# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
gitops-deployer
gohub

# Local development files
.env
scripts/deploy.sh

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?